@import 'fonts';

.main {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font;

    footer {
        padding-left: 35px;
    }
}

.main-section {
    align-self: center;
    
    h1 {
        font-size: $font-l;
    }


    h2 {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: $font-ml;
    }
}

.indented {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.no-entries-div {
    display: flex;
    justify-content: center;
    font-family: $font;
    font-size: $font-ml;
    margin-top: 4rem;
}